@import "~bulma/sass/utilities/initial-variables"
@import "override-variables.sass"
@import "~bulma"

// BG Coloras
.bg-brand-green
  background-color: $brand-green
.bg-brand-blue
  background-color: $brand-blue
.bg-light-blue
  background-color: $light-sky-blue
.bg-light-light-blue
  background-color: $alice-blue
.ribbon-btn
  background: $brand-blue

.booking-form
  border-radius: 1rem
  background-color: #fff
  padding: 1rem
  @include tablet
    padding: 2rem
  @include desktop
    padding: 4rem
  
// Navbar
.navbar-item img
  @include desktop
    max-height: 2.75rem
.navbar-brand
  > .navbar-item
    img
      max-height: 2.75rem      
 
#navMenu
  &.navbar-menu
    height: 100vh
    padding: 0
    @include desktop
      height: auto
  a.navbar-item
    font-size: 1.5rem
    border-top: 2px dotted #2e362848 
    min-height: 4rem
    line-height: 4rem
    text-transform: uppercase
    font-weight: 600
    :hover
      border: none
    &.last
      border-bottom: 2px dotted #2e362848 
      @include desktop
        border: none
    @include desktop
      font-size: inherit
      border: none
  .cta
    .navbar-item
      padding-top: 1.5rem
      @include desktop
        padding-top: .5rem

.hero-text
  background: #00000071
  padding: 2rem

.menu-list
  list-style: none !important

// Features
.features
  .description
    margin-top: 1rem
  .columns
    @media screen and (min-width: 480px) 
      display: flex

// Footer
.footer
  padding-bottom: 1rem
.footer-menu 
  @include desktop
    display: flex
    align-items: center
    justify-content: center
  a
    display: block
    text-align: center
    padding: 1rem
    line-height: 1.5


// Testimonials
.testimonials
  background: $light-sky-blue
  .quote
    font-size: .8rem
    font-weight: 600
  .author
    font-size: .8rem
  @include desktop
    .quote
      font-size: 1.25rem
    .author
      font-size: 1.25rem
  .custom-pagination
    text-align: right 

// Ribbon CTA
.ribbon-cta
  background: $light-sky-blue
  h4
    line-height: 1.5
  .btn
    margin-top: 2rem
    @include desktop
      margin-top: 0

.is-overlay-bg
  background: rgba(50,54,64,.5)

.img-hover-zoom
  transition: 0.3s all ease-in-out
  :hover
    img
      transition: 0.3s all ease-in-out
      transform: scale(1.05)
  img
    transition: 0.3s all ease-in-out

.photo-grid
  display: flex
  gap: 1rem
  flex-wrap: wrap
  justify-content: center

.content
  a
    text-decoration: underline

.more-link
  display: block
  text-align: center
  font-weight: 600
  padding-top: 1rem
  &.black-text
    color: $black-olive
  svg
    vertical-align: middle
    font-size: 1.25rem
