@import "~bulma/sass/utilities/initial-variables"
@import "override-variables.sass"
@import "~bulma"

//@import "~bulma/sass/utilities/initial-variables"

.hero-text
  background: #00000071
  padding: 2rem

.menu-list
  list-style: none !important

// Social icons.
.social
  padding: 2em
  text-align: center
  // display: flex
  // align-items: center
  // justify-content: center  
.social a
    padding: .5em .5em .3em .5em
    border-radius: 1em
    background-color: $white-ter
    margin: .5em
    width: 1em
    height: 1em
    vertical-align: middle
    display: inline

// Features
.features
  .description
    margin-top: 1rem

// Navbar.
.button.contact
  background-color: $brand-green
  color: #fff
  :hover
    color: #fff

// Footer
.footer-menu 
  display: flex
  align-items: center
  justify-content: center  
  a
    padding: 1rem
    line-height: 1.5
    color: $black
    ::hover
      text-decoration: underline


// Testimonials
.testimonials
  background: #e7e7e7
  p
    font-size: .8rem
    font-weight: 600

  @include desktop
    p
      font-size: 1.5rem
  .custom-pagination
    text-align: right

em
  font-weight: normal

strong
  color: red        
    



// @import "~bulma"
