// Font
$body-family: "Open Sans"


// // Kaldi logo brand color: #FD461E
// $kaldi-red: #D64000
// $kaldi-red-invert: #fff

$slate-gray: #708891ff
$light-sky-blue: #83CAF2
$black-olive: #2E3628ff
$alice-blue: #F1F6FCff
$brand-green: #647f47

$primary: #334ed9
$secondary: $light-sky-blue
//$primary-invert: $kaldi-red-invert
$body-color: #333
$black: #2b2523

// Config vars
$navbar-height: 5rem
$navbar-item-img-max-height: 2.75rem
// $navbar-item-color: #fff
// $navbar-background-color: $brand-green
// $navbar-item-hover-color: #fff
// $navbar-tab-hover-background-color: $light-sky-blue
$section-padding-large: 8rem 2rem

//$footer-background-color: $light-sky-blue
$footer-padding: 3rem 1.5rem 2rem
