// Font
$body-family: "Roboto"

// Colors
$slate-gray: #708891ff
$light-sky-blue: #83CAF2
$black-olive: #2E3628ff
$alice-blue: #F1F6FCff
$brand-green: #647f47
$primary: #334ed9
$secondary: $light-sky-blue
//$primary-invert: $kaldi-red-invert
$body-color: #333
$black: #2b2523

// Config vars
$navbar-height: 5rem
$navbar-item-img-max-height: 2.75rem
$section-padding-medium: 4rem 2rem
$section-padding-large: 8rem 2rem

// Layout
$footer-padding: 3rem 1.5rem 2rem
